@import '_breakpoints.scss';

$primary_color: #213f7d;
$button_color: #39cdcc;
$text_color: #545f7d;
$primary_bg_color: #f5f6fa;
$login_bg_color: #fff;
$secondary_color: #545f7d;
$input_border_color: rgba(#545f7d, 0.15);

body {
	& {
		margin: 0;
		padding: 0;
		font-family: 'Work sans', sans-serif;
	}
}

.navbar {
	& {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
	}
}

.navbar_container {
	& {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem;
		width: 100%;
		box-sizing: border-box;
		background: $login_bg_color;
		box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
	}
	@include xs {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		width: 100%;
	}
}

.nav_form_container {
	& {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@include xs {
		display: none;
	}

	@include lg {
		display: flex;
	}
}

.nav_search_form {
	& {
		width: 400px;
		height: 50px;
		border-radius: 10px;
		box-sizing: border-box;
		font-size: 1rem;
		background-color: white;
		color: #000000;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.search_input {
	& {
		width: 100%;
		height: 100%;
		font-size: 1rem;
		margin: 0;
		border: 1px solid $input_border_color;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
}

.search_input::placeholder {
	& {
		color: $text_color;
		font-size: 14px;
	}
}

.search_btn {
	& {
		width: 56px;
		height: 100%;
		background-color: #39cdcc;
		border: none;
		color: #fff;
		cursor: pointer;
		font-weight: 700;
		padding: 1rem;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.navbar_right {
	& {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
	}

	@include xs {
		display: none;
	}

	@include lg {
		display: flex;
	}
}

.user_info {
	& {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.7rem;
	}
}

.docs {
	& {
		color: $primary_color;
		font-size: 1rem;
		font-family: 'Roboto', sans-serif;
		cursor: pointer;
		text-decoration: underline;
	}
}

.bell_icon {
	& {
		color: $primary_color;
		cursor: pointer;
	}
}

.user_avatar {
	& {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		object-fit: cover;
	}
}

.user_name {
	& {
		color: $primary_color;
		font-size: 1rem;
		cursor: pointer;
	}
}

.arrow_down {
	& {
		color: $primary_color;
		font-size: 1rem;
		font-family: 'Roboto', sans-serif;
		cursor: pointer;
	}
}

.menu_icon {
	& {
		color: $primary-color;
		cursor: pointer;
	}

	@include xs {
		display: block;
	}

	@include lg {
		display: none;
	}
}
