$primary-color: #213f7d;
$button-color: #39cdcc;
$text-color: #545f7d;
$primary-bg-color: #f5f6fa;
$login-bg-color: #fff;
$secondary-bg-color: #fff;
$secondary-color: #545f7d;
$font-family: 'work sans';
$input-border-color: rgba(#545f7d, 0.15);
$table-border-color: rgba(#213f7d1a, 0.1);
$box-shadow-color: rgba(#545f7d0a, 0.04);
$box-shadow: 4px 4px 4px $box-shadow-color;
$status-color-opacity: 0.1;
$arrow-bg-color: rgba(#213f7d, 0.1);

.details_card_container {
	display: flex;
	flex-wrap: wrap;
	gap: 26px;
	width: 100%;
	box-sizing: border-box;
}

.users_title {
	font-size: 1.5rem;
	font-weight: 500;
	color: $text-color;
	margin: 0;
	margin-bottom: 40px;
	text-transform: capitalize;
}

.error_message {
	display: flex;
	width: 100%;
	color: #e4033b;
	font-size: 1rem;
	font-weight: 600;
}

.card {
	background: #fff;
	border-radius: 10px;
	flex: 1;
	width: 100%;
	padding: 20px 30px;
	box-shadow: $box-shadow;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.card_icon {
	width: 40px;
	height: 40px;
}

.card_title {
	color: $text-color;
	font-weight: 500;
	font-size: 0.875rem;
	font-family: $font-family;
	margin: 0;
	text-transform: uppercase;
}

.card_amount {
	color: $primary-color;
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0;
}

.table-responsive {
	margin-top: 40px;
	background: #fff;
	padding: 2rem;
	height: auto;
	box-sizing: border-box;
	overflow: auto;
	width: 100%;
}

.custom-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 16px;
	box-sizing: border-box;
}

.filter_container {
	display: flex;
	align-items: center;
}

.table-body {
	position: relative;
	height: 100%;
}

.filter-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
	background: $secondary-bg-color;
	z-index: 100;
	display: flex;
	justify-content: flex-start;
}

.hide-modal {
	display: none;
}

th td {
	font-size: 0.75rem;
	text-align: left;
	vertical-align: middle;
}

th {
	padding: 2rem 5px;
	color: $text-color;
	font-weight: 600;
	text-transform: uppercase;
	text-align: left;
	margin: 0 0.5rem;
	font-size: 0.75rem;
}

td {
	padding: 23px 5px;
	text-align: left;
	color: $primary-color;
	font-weight: 400;
	border-bottom: 1px solid $table-border-color;
	border-left: none;
	border-right: none;
	font-size: o.875rem;
}

.close-icon-container {
	display: flex;
	justify-content: flex-end;
}

.close-icon {
	cursor: pointer;
	font-weight: 600;
	font-size: 0.875rem;
	color: $primary-color;
}

.active-bg {
	color: #39cd62;
	background: rgba(#39cd62, $status-color-opacity);
	border-radius: 1rem;
	padding: 0.5rem 1rem;
}

.inactive-bg {
	color: #545f7d;
	background: rgba(#545f7d, $status-color-opacity);
	border-radius: 1rem;
	padding: 0.5rem 1rem;
}

.pending-bg {
	background: rgba(#e9b200, $status-color-opacity);
	color: #e9b200;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
}

.blacklisted-bg {
	background: rgba(#e4033b, $status-color-opacity);
	color: #e4033b;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
}

.filter-icon {
	margin-left: 4px;
	font-weight: bold;
	cursor: pointer;
	width: 0.8rem;
	height: 0.8rem;
}

.table-data-row {
	position: relative;
}

table {
	min-width: 900px;

	overflow-x: auto;
	border-collapse: collapse;
}

tbody {
	font-size: 0.875rem;
}

/************************Filter Modal styles *********************/

.modal {
	background-color: $secondary-bg-color;
	width: 270px;
	border: 1px solid $input-border-color;
}

.modal-content {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	width: 270px;
	box-shadow: $box-shadow;
	display: flex;
	flex-direction: column;
	gap: 20px;

	h2 {
		margin-bottom: 20px;
	}

	label {
		display: block;
		font-weight: 500;
		color: $text-color;
		font-size: 0.875rem;

		input,
		select {
			width: 100%;
			padding: 12px 20px;
			margin-top: 5px;
			border: 1px solid #ccc;
			border-radius: 4px;
			color: $primary-color;
			height: auto;
			font-size: 0.875rem;
		}

		input:focus,
		select:focus {
			outline: 1px solid $primary-color;
		}

		select .options {
			color: $primary-color;
			padding: 2rem;
		}
	}

	.button-container {
		display: flex;
		justify-content: flex-start;
		margin-top: 10px;
	}

	.btn {
		margin-left: 10px;
		padding: 12px 30px;
		background: $button-color;
		border: none;
		border-radius: 8px;
		font-size: 14px;
		font-weight: 600;
		cursor: pointer;
	}

	.apply_button {
		background: $button-color;
		color: #fff;
	}

	.cancel_button {
		background: #fff;
		color: $primary-color;
		border: 1px solid $text-color;
	}
}

/************************* options modal styles **********************/
.options_modal_container {
	background: $secondary-bg-color;
	padding: 20px;
	z-index: 100;
	border: 1px solid $input-border-color;
	width: 100%;
}

.options_modal_btns {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.options_modal_btn {
	display: flex;
	gap: 10px;
	background: none;
	border: none;
	color: $text-color;
	font-size: 0.875rem;
	font-weight: 500;
	cursor: pointer;
}

.options-modal {
	position: absolute;
	right: 1rem;
	top: 10px;
	z-index: 100;
	box-shadow: $box-shadow;
	width: 170px;
}

/************************ Pagination styles ******************/
.pagination-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.pagination-info {
	font-size: 14px;
	display: flex;
	gap: 8px;
	align-items: center;
	color: $text-color;
	select {
		padding: 5px 0.9rem;
		font-size: 14px;
		background-color: $arrow-bg-color;
		border: none;
		outline: none;
		color: $primary-color;
		border-radius: 6px;
	}
}

.pagination-pages {
	display: flex;
}

.pagination-arrow {
	font-size: 14px;
	color: $primary-color;
	cursor: pointer;
	background-color: $arrow-bg-color;
	border: none;
}

.pagination-page {
	margin: 0 5px;
	cursor: pointer;
	color: $text-color;
	font-weight: 400;
	background-color: transparent;
	border: none;
}

.pagination-page.active {
	color: $text-color;
	font-weight: 800;
	background-color: transparent;
	border: none;
}
