@import '_button.scss';
@import '_breakpoints.scss';

$primary_color: #213f7d;
$button_color: #39cdcc;
$text_color: #545f7d;
$primary_bg_color: #f5f6fa;
$login_bg_color: #fff;
$secondary_bg_color: #fff;
$secondary_color: #545f7d;
$font_family: 'work sans';
$input_border_color: rgba(#545f7d, 0.15);
$table_border_color: rgba(#213f7d1a, 0.1);
$box_shadow_color: rgba(#545f7d0a, 0.04);
$box_shadow: 4px 4px 4px $box_shadow_color;
$status_color_opacity: 0.1;
$arrow_bg_color: rgba(#213f7d, 0.1);

.details_card_container {
	& {
		display: flex;
		flex-wrap: wrap;

		width: 100%;
		box-sizing: border-box;
	}
	@include xs {
		gap: 1rem;
	}
	@include lg {
		gap: 1rem;
	}
	@include xl {
		gap: 26px;
	}
}

.users_title {
	& {
		font-size: 1.5rem;
		font-weight: 500;
		color: $text_color;
		margin: 0;
		margin-bottom: 40px;
		text-transform: capitalize;
	}
}

.card {
	& {
		background: #fff;
		border-radius: 10px;
		flex: 1;
		width: auto;

		box-shadow: $box_shadow;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	@include xs {
		padding: 20px 30px;
		flex-grow: 1;
		min-width: 150px;
		max-width: 100%;
	}

	@include base {
		padding: 1rem 1rem;
		min-width: 200px;
		max-width: 100%;
		flex-grow: 1;
	}

	@include md {
		padding: 1rem 1rem;
		min-width: 220px;
		max-width: 250px;
		flex-grow: 0;
	}

	@include lg {
		padding: 1rem 1rem;
		min-width: 200px;
		max-width: 200px;
	}

	@include xl {
		padding: 20px 30px;
		min-width: 150px;
		max-width: 200px;
	}
}

.card_icon {
	& {
		width: 40px;
		height: 40px;
	}
}

.card_title {
	& {
		color: $text_color;
		font-weight: 500;
		font-size: 0.875rem;
		font-family: $font_family;
		margin: 0;
		text-transform: uppercase;
	}
}

.card_amount {
	& {
		color: $primary_color;
		font-size: 1.5rem;
		font-weight: 600;
		margin: 0;
	}
}

.table_responsive {
	& {
		margin-top: 40px;
		background: #fff;
		padding: 2rem;
		height: auto;
		box-sizing: border-box;
		overflow: auto;
		width: 100%;
	}
}

.custom_table {
	& {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 16px;
		box-sizing: border-box;
	}
}

.filter_container {
	& {
		display: flex;
		align-items: center;
	}
}

.table_body {
	& {
		position: relative;
		height: 100%;
	}
}

.filter_modal {
	& {
		position: absolute;
		top: 0;
		left: 0;
		width: auto;
		height: 100%;
		background: $secondary_bg_color;
		z-index: 100;
		display: flex;
		justify-content: flex-start;
	}
}

.hide_modal {
	& {
		display: none;
	}
}

th,
td {
	& {
		font-size: 0.75rem;
		text-align: left;
		vertical-align: middle;
	}
}

th {
	& {
		padding: 2rem 5px;
		color: $text_color;
		font-weight: 600;
		text-transform: uppercase;
		text-align: left;
		margin: 0 0.5rem;
		font-size: 0.75rem;
	}
}

td {
	& {
		padding: 23px 5px;
		text-align: left;
		color: $primary_color;
		font-weight: 400;
		border-bottom: 1px solid $table_border_color;
		border-left: none;
		border-right: none;
		font-size: o.875rem;
	}
}

.close_icon_container {
	& {
		display: flex;
		justify-content: flex-end;
	}
}

.close_icon {
	& {
		cursor: pointer;
		font-weight: 600;
		font-size: 0.875rem;
		color: $primary_color;
	}
}

.active_bg {
	& {
		color: #39cd62;
		background: rgba(#39cd62, $status_color_opacity);
		border-radius: 1rem;
		padding: 0.5rem 1rem;
	}
}

.inactive_bg {
	& {
		color: #545f7d;
		background: rgba(#545f7d, $status_color_opacity);
		border-radius: 1rem;
		padding: 0.5rem 1rem;
	}
}

.pending_bg {
	& {
		background: rgba(#e9b200, $status_color_opacity);
		color: #e9b200;
		border-radius: 1rem;
		padding: 0.5rem 1rem;
	}
}

.blacklisted_bg {
	& {
		background: rgba(#e4033b, $status_color_opacity);
		color: #e4033b;
		border-radius: 1rem;
		padding: 0.5rem 1rem;
	}
}

.filter_icon {
	& {
		margin-left: 4px;
		font-weight: bold;
		cursor: pointer;
		width: 0.8rem;
		height: 0.8rem;
	}
}

.table_data_row {
	& {
		position: relative;
	}
}

table {
	& {
		min-width: 900px;
		overflow-x: auto;
		border-collapse: collapse;
	}
}

tbody {
	& {
		font-size: 0.875rem;
	}
}

/************************Filter Modal styles *********************/

.modal {
	& {
		background-color: $secondary_bg_color;
		width: 270px;
		border: 1px solid $input_border_color;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.show {
	& {
		animation: show 0.5s ease-in-out forwards;
	}
}

.modal_content {
	& {
		background: #fff;
		padding: 20px;
		border-radius: 8px;
		width: 270px;
		box-shadow: $box_shadow;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	h2 {
		& {
			margin-bottom: 20px;
		}
	}

	label {
		& {
			display: block;
			font-weight: 500;
			color: $text_color;
			font-size: 0.875rem;
		}

		input,
		select {
			& {
				width: 100%;
				padding: 12px 20px;
				margin-top: 5px;
				border: 1px solid #ccc;
				border-radius: 4px;
				color: $primary_color;
				height: auto;
				font-size: 0.875rem;
			}

			&:focus {
				outline: 1px solid $primary_color;
			}

			select .options {
				& {
					color: $primary_color;
					padding: 2rem;
				}
			}
		}
	}

	.button_container {
		& {
			display: flex;
			justify-content: flex-start;
			margin-top: 10px;
			box-sizing: border-box;
			width: 100%;
			gap: 10px;
		}
	}

	.btn {
		& {
			@include btn(transparent, transparent, auto);
			width: 100%;
			cursor: pointer;
		}
	}

	.apply_button {
		& {
			background: $button_color;
			color: #fff;
		}
	}

	.cancel_button {
		& {
			background: #fff;
			color: $primary_color;
			border: 1px solid $text_color;
		}
	}
}

/************************* options modal styles **********************/
.options_modal_container {
	& {
		background: $secondary_bg_color;
		padding: 20px;
		z-index: 100;
		border: 1px solid $input_border_color;
		width: 100%;
	}
}

.options_modal_btns {
	& {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}

.options_modal_btn {
	& {
		display: flex;
		gap: 10px;
		height: 20px;
		background: none;
		border: none;
		color: $text_color;
		font-size: 0.875rem;
		font-weight: 500;
		cursor: pointer;
		width: 100%;
		align-items: center;
	}

	span {
		& {
			height: 0.8rem;
			box-sizing: border-box;
		}
	}
}

.options_modal {
	& {
		position: absolute;
		right: 1rem;
		top: 10px;
		z-index: 100;
		box-shadow: $box_shadow;
		width: 170px;
		max-width: 180px;
	}
}

/************************ Pagination styles ******************/
.pagination_container {
	& {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px 0;
	}

	@include xs {
		flex-direction: column;
		gap: 10px;
	}

	@include md {
		flex-direction: row;
		gap: 20px;
	}
}

.pagination_info {
	& {
		font-size: 14px;
		display: flex;
		gap: 8px;
		align-items: center;
		color: $text_color;
		select {
			& {
				padding: 5px 0.9rem;
				font-size: 14px;
				background-color: $arrow_bg_color;
				border: none;
				outline: none;
				color: $primary_color;
				border-radius: 6px;
			}
		}
	}
}

.pagination_pages {
	& {
		display: flex;
	}
}

.pagination_arrow {
	& {
		font-size: 14px;
		color: $primary_color;
		cursor: pointer;
		background-color: $arrow_bg_color;
		border: none;
	}
}

.pagination_page {
	& {
		margin: 0 5px;
		cursor: pointer;
		color: $text_color;
		font-weight: 400;
		background-color: transparent;
		border: none;
		font-family: $font_family;
	}
}

.pagination_page.active {
	& {
		color: $text_color;
		font-weight: 500;
		background-color: transparent;
		border: none;
	}
}
