$primary-color: #213f7d;
$button-color: #39cdcc;
$text-color: #545f7d;
$primary-bg-color: #f5f6fa;
$login-bg-color: #fff;
$secondary-bg-color: #fff;
$secondary-color: #545f7d;
$font-family: 'work sans';
$input-border-color: rgba(#545f7d, 0.15);
$table-border-color: rgba(#213f7d1a, 0.1);

.details_card_container {
	display: flex;
	flex-wrap: wrap;
	gap: 26px;
	width: 100%;
}

.users_title {
	font-size: 1.5rem;
	font-weight: 500;
	color: $text-color;
	margin: 0;
	margin-bottom: 40px;
	text-transform: capitalize;
}

.card {
	background: #fff;
	border-radius: 10px;
	flex: 1;
	width: 100%;
	padding: 20px 30px;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.card_icon {
	width: 40px;
	height: 40px;
}

.card_title {
	color: $text-color;
	font-weight: 500;
	font-size: 0.875rem;
	font-family: $font-family;
	margin: 0;
	text-transform: uppercase;
}

.card_amount {
	color: $primary-color;
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0;
}

.table-responsive {
	overflow: auto;
	margin-top: 40px;
	background: #fff;
	padding: 2rem;
}

.custom-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 16px;
	overflow: auto;
}

.table-body {
	position: relative;
}

.filter-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
	background: $secondary-bg-color;
	z-index: 100;
	display: flex;
	justify-content: flex-start;
}

.hide-modal {
	display: none;
}

th td {
	font-size: 0.75rem;
	text-align: left;
	vertical-align: middle;
}

th {
	padding: 2rem 0;
	color: $text-color;
	font-weight: 600;
	text-transform: uppercase;
	text-align: left;
	margin: 0 0.5rem;
}

td {
	padding: 16px;
	text-align: left;
	color: $primary-color;
	font-weight: 400;
	border-bottom: 1px solid $table-border-color;
	border-left: none;
	border-right: none;
	font-size: o.875rem;
}

.filter-icon {
	margin-left: 8px;
	font-weight: bold;
}

/************************Modal styles *********************/

.modal {
	background-color: $secondary-bg-color;
	width: 270px;
}

.modal-content {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	width: 270px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	gap: 20px;

	h2 {
		margin-bottom: 20px;
	}

	label {
		display: block;
		font-weight: 500;
		color: $text-color;
		font-size: 0.875rem;

		input,
		select {
			width: 100%;
			padding: 12px 20px;
			margin-top: 5px;
			border: 1px solid #ccc;
			border-radius: 4px;
			color: $primary-color;
			height: auto;
			font-size: 0.875rem;
		}

		input:focus,
		select:focus {
			outline: 1px solid $primary-color;
		}

		select .options {
			color: $primary-color;
			padding: 2rem;
		}
	}

	.button-container {
		display: flex;
		justify-content: flex-start;
		margin-top: 10px;
	}

	.btn {
		margin-left: 10px;
		padding: 12px 30px;
		background: $button-color;
		border: none;
		border-radius: 8px;
		font-size: 14px;
		font-weight: 600;
		cursor: pointer;
	}

	.apply_button {
		background: $button-color;
		color: #fff;
	}

	.cancel_button {
		background: #fff;
		color: $primary-color;
		border: 1px solid $text-color;
	}
}
