$primary-color: #213f7d;
$button-color: #39cdcc;
$text-color: #545f7d;
$primary-bg-color: #f5f6fa;

.container {
	display: grid;
	grid-template-columns: repeat(1fr);
}

.App {
	color: $button-color;
	background-color: $primary-bg-color;
}

.password-container {
	position: relative;
}

.show-hide {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}
