@import './styles/breakpoints';

$primary_color: #213f7d;
$button_color: #39cdcc;
$text_color: #545f7d;
$primary_bg_color: #f5f6fa;
$login_bg_color: #fff;
$secondary_color: #545f7d;
$input_border_color: rgba(#545f7d, 0.15);
$font_family: 'Work Sans', sans-serif;
$active_bg_color: #e8fafa;
$text_black: rgba(#000, 0.8);
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

@font-face {
	& {
		font-family: 'Avenir Next';
		src: local('Avenir Next'), url('../public/assets/fonts/avents/AvenirNextLTPro-Regular.otf') format('otf');
		font-weight: 400;
		font-style: normal;
	}
}

@font-face {
	& {
		font-family: 'Avenir Next Bold';
		src: local('Avenir Next Bold'), url('../public/assets/fonts/avents/AvenirNextLTPro-Bold.otf') format('otf');
		font-weight: 700;
		font-style: normal;
	}
}

@font-face {
	& {
		font-family: 'SF Compact Text';
		src: local('SF Compact Text'), url('../public/assets/fonts/SF-Compact-Text-Regular.otf') format('otf');
		font-weight: 400;
		font-style: normal;
	}
}

body,
html,
.root {
	& {
		margin: 0px;
		padding: 0px;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		font-size: 16px;
		font-family: 'Work Sans', sans-serif;
	}
}

.root {
	& {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		font-size: 16px;
	}
}

.spinner_container {
	& {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: #fff;
		z-index: 9999;
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 20px;
		align-items: center;
	}
}

.error_container {
	& {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 0.5rem;
	}
}

.error_message {
	& {
		display: flex;
		width: 100%;
		color: #e4033b;
		font-size: 1rem;
		font-weight: 600;
		justify-content: center;
		margin: 0;
	}
}

.sidebar_toggle {
	& {
		color: $primary_color;
		font-size: 1.3rem;
	}

	@include xs {
		display: flex;
	}
	@include lg {
		display: none;
	}
}

.back_arrow_toggle_icon {
	display: flex;
	justify-content: space-between;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideOutToLeft {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-105%);
	}
}

.sidebar_mobile {
	& {
		position: fixed;
		top: 75px;
		left: 0;
		width: 80%;
		max-width: 280px;
		height: 100vh;
		z-index: 9999;
		overflow: auto;
		background-color: $login_bg_color;
	}
	@include xs {
		display: flex;
	}
	@include lg {
		display: none;
	}
}

.slideInFromLeft {
	animation: 0.3s ease-out 0s 1 slideInFromLeft;
}

.slideOutToLeft {
	animation: 0.3s ease-out 0s 1 slideOutToLeft;
	display: none;
}
